<div class="search">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Buscar ciudad" name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weather">
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="convertToCelsius(weather.main.temp) > 15 ">
    <img src="../assets/cold.jpg" *ngIf="convertToCelsius(weather.main.temp) <= 15">
    <div class="weather-data">
      <span class="location">{{weather.name}}</span>
      <span class="temperature">{{ convertToCelsius(weather.main.temp) }}°C </span>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      Más información
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ convertToCelsius(weather.main.temp_min) }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png">
          <span>máx</span>
        </div>
        <div class="info-block-value">
          {{ convertToCelsius(weather.main.temp_max) }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png">
          <span>humedad</span>
        </div>
        <div class="info-block-value">
          {{ weather.main.humidity }}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png">
          <span>Viento</span>
        </div>
        <div class="info-block-value">
          {{ weather.wind.speed | number:'1.0-0' }} km/h
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>